body{
    background-image: url(img/85207.jpg);
    background-repeat: repeat-y  ;
    background-size: 60%;
    text-align: center;
}
h1{
    color: #025157;
}
h2{
    color: #594caa;
}
p{
    color: #46484c;
}
strong{
    color: #8b8b8bcc;
    text-transform: uppercase;
}
label{
    display: inline-block;
    width: 80px;
}
.btn{
    color: #fff;
    background-color: #025157;
    width: 200px;
}
